*{
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
  background-color: black;
  width: 100%;
  color: red;
}
.container{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.card{
  background-color: lightgray;
  height: 35rem;
  width: 25rem;
  border-radius: 20px;
}
.avatar_picture{
  border-radius: 50%;
  margin-left: 33%;
  margin-top: 10%;
}
.centering{
  margin-top: 10%;
  text-align: center;
}
.no_info{
  text-align: center;
  margin-top: 50%;
}